:root {
  --primary: #7a16d6;
  --gray-900: #161e27; /* background color */
  --dark-border-subtle: #364b61;
}

body {
  background-color: var(--gray-900);
}

.card nav{
  width: 37rem; 
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.material-symbols-outlined {
  /* Aligns Material Icons to Bootstrap Icons*/
  vertical-align: text-bottom;
  position: relative;
  top: 2px;
}

.menu-pane {
  display: flex;
  flex-direction: column;
}

.new-post-button {
  width: 45%;
}

.new-post-dialog {
  width: 33%;
  min-width: 300px;
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.new-post-dialog-header {
  display: flex;
  justify-content: space-between;
  border-bottom: none !important;
}

.new-post-dialog-body {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.new-post-dialog-input {
  color: white;
  width: calc(100% - 58px);
  height: 9rem;
  border: none;
  outline: none;
  background: none;
  resize: none;
}

.new-post-dialog-footer {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--dark-border-subtle) !important;
}

.new-post-dialog-footer > * {
  display: flex;
  justify-content: space-around;
}

.nav-link{
  color: #eee !important;
  font-weight: bolder;
}

.border-bottom{
  width: 200px;
}

.sideIcons{
  color: white;
}