body {
  background-color: #161e27;
}

.material-symbols-outlined {
  /* Aligns Material Icons to Bootstrap Icons*/
  vertical-align: text-bottom;
  position: relative;
  top: 2px;
}

.new-post-dialogue {
  width: 33%;
  min-width: 300px;
}

.new-post-dialogue-header {
  display: flex;
  justify-content: space-between;
  border-bottom: none !important;
}

.new-post-dialogue-footer {
  display: flex;
  justify-content: space-between;
}

.new-post-dialogue-footer > * {
  display: flex;
  justify-content: space-around;
}
